


/*@font-face {*/
/*    font-family: 'Gotham';*/
/*    src: url('../fonts/Gotham-Bold.woff2') format('woff2'),*/
/*        url('./fonts/Gotham-Bold.woff') format('woff');*/
/*    font-weight: bold;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Gotham';*/
/*    src: url('../fonts/Gotham-Light.woff2') format('woff2'),*/
/*        url('../fonts/Gotham-Light.woff') format('woff');*/
/*    font-weight: 300;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Gotham';*/
/*    src: url('../fonts/Gotham-Thin.woff2') format('woff2'),*/
/*        url('../fonts/Gotham-Thin.woff') format('woff');*/
/*    font-weight: 100;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('../fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*@font-face {*/
/*    font-family: 'Gotham';*/
/*    src: url('../fonts/Gotham-Book.woff2') format('woff2'),*/
/*        url('../fonts/Gotham-Book.woff') format('woff');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Gotham';*/
/*    src: url('../fonts/Gotham-Medium.woff2') format('woff2'),*/
/*        url('../fonts/Gotham-Medium.woff') format('woff');*/
/*    font-weight: 500;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Gilroy';*/
/*    src: url('../fonts/Gilroy-Light.woff2') format('woff2'),*/
/*        url('../fonts/Gilroy-Light.woff') format('woff');*/
/*    font-weight: 300;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@font-face {
    font-family: 'Gotham-reg';
    src: url('../fonts/Gotham-Book.ttf');
    src: url('../fonts/Gotham-Book.ttf') format('truetype'),
        url('../fonts/Gotham-Book.woff2') format('woff2'),
        url('../fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Black.eot');
    src: url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Black.woff2') format('woff2'),
        url('../fonts/Gotham-Black.woff') format('woff'),
        url('../fonts/Gotham-Black.ttf') format('truetype'),
        url('../fonts/Gotham-Black.svg#Gotham-Black') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
 
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.eot');
    src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Light.woff2') format('woff2'),
        url('../fonts/Gotham-Light.woff') format('woff'),
        url('../fonts/Gotham-Light.ttf') format('truetype'),
        url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Thin.eot');
    src: url('../fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Thin.woff2') format('woff2'),
        url('../fonts/Gotham-Thin.woff') format('woff'),
        url('../fonts/Gotham-Thin.ttf') format('truetype'),
        url('../fonts/Gotham-Thin.svg#Gotham-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium.eot');
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/Gotham-Medium.woff') format('woff'),
        url('../fonts/Gotham-Medium.ttf') format('truetype'),
        url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.eot');
    src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff'),
        url('../fonts/Gotham-Bold.ttf') format('truetype'),
        url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Montserrat', sans-serif;
      top: 0 !important;
}
  
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Gilroy';
    margin-bottom: 0;
}

p,
ul,
ol {
 font-family: 'Montserrat', sans-serif;
}

.line_height_increase {
	line-height: 1.5rem !important;
}


.f_14 {
	font-size: 14px;
}

.f_16 {
	font-size: 16px;
}

.f_18 {
	font-size: 18px;
}

.f_20 {
	font-size: 20px;
}

.f_22 {
    font-size: 20px;
    font-weight: 400;
}
.f_26 {
	font-size: 26px;
}

.f_34 {
	font-size: 34px;
	color: #111111;
	font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

.f_light {
	font-weight: 100;
}

:focus {
	outline: none !important;
	box-shadow: none !important;
}

/* html,body {height: 100%;} */
/*banner start*/

.navbar-brand img {
    max-width: 192px;
}

.main_menu nav {
	transition: 0.4s;
}

.main_menu .navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 1);
}

.main_menu .navbar-brand {
	font-weight: 400;
	font-size: 2.25rem;
	transition: 0.4s;
}

.fixed-top {
    position: fixed !important;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    transition: 0.4s;
    z-index: 999999;
}

.fixed-top:before {
	background-color: #fff;
	position: fixed;
	content: "";
	top: 0;
	width: 100%;
	height: 66px;
	z-index: -1;
	left: 0;
	right: 0;
	transition: 0.4s;
	box-shadow: 0 0px 5px 2px rgba(0, 0, 0, 0.07);
}

.fixed-top.navbar.py-3 {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.fixed-top .navbar-brand img {
    max-width: 160px;
}
.menu-top {
    background: #000000;
    text-align: center;
    padding: 8px;
    font-size: 16px;
}
.menu-top span {
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
}

.btn-bron{
    background: #CDA053;
    padding: 5px 27px;
    border-radius: 7px;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}
.sign-up-btn {
    color: #000000;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-size: 18px;
    padding: 0 15px;
}

.left_side h1 {
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    font-size: 55px;
}
.navbar{
        padding:0;
}


.main-navbar
{
   transition: 0.4s;
   background: #FFFFFF;
   box-shadow: 0px 1px 6px #0000000F;
}

.black_btn {
    color: #ffffff;
    background: #000000;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0px;
    text-decoration: none;
    padding: 12px 39px;
    border-radius: 5px;
    box-shadow: none;
    border: 0;
}

/*banner section*/
.main-banner {
    background: transparent linear-gradient(180deg, #c9c6c617 0%, #c4bfbf00 100%) 0% 0% no-repeat padding-box;
}

/* 
section.create-profile {
    background: transparent linear-gradient(180deg, hsl(0deg 6% 93% / 36%) 0%, rgb(241 238 238) 100%) 0% 0% no-repeat padding-box;
    padding: 52px 0;
} */
.left_side h1 span {
    font-weight: 400;
}

.left_side p {
    font-size: 30px;
    font-weight: 400;
}

.pre_heading h3 {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Gilroy';
    margin-bottom: 18px!important;
}
img.tm-people {
    width: 39px!important;
    height: 34px;
}
.pre_headings h3 {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Gilroy';
    text-align: left;
    text-transform: uppercase;
}
.pre_heading p {
    text-align: center;
    color: #565656;
    font-size: 17px;
}

.about_shadow {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #00000012;
    padding: 11px;
}

.about_content p {
    color: #BBBBBB;
}

section.products {
    padding: 40px 0;
}

.colors {
    display: flex;
    margin-top: 2px
}

.colors span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    margin-right: 6px
}

.colors span:nth-child(1) {
    background-color:#112C64;
}

.colors span:nth-child(2) {
    background-color:#B82A50;
}

.colors span:nth-child(3) {
    background-color:#CAA029;
}

.colors span:nth-child(4) {
    background-color:#BABABA;
}

h5.main-heading {
    font-size: 17px;
    font-weight: 400;
    color: #282828;
}

.price-text{
    color: #777777;
    font-size: 14px;
    font-weight: 500;
}

.card-product {
    border: 1px solid rgb(112 112 112 / 13%);
    width: calc(25% - 20px);
    margin: 0 10px 10px;
}

section.products {
    padding: 90px 0;
}

.heart img {
    width: 41px;
}

.pre_headings p {
    text-align: left;
    color: #565656;
    font-size: 17px;
}

.text-hows {
    padding-right: 10rem;
}

.create-profile {
    background: transparent linear-gradient(180deg, hsl(0deg 6% 93% / 36%) 0%, rgb(241 238 238) 100%) 0% 0% no-repeat padding-box;
    padding: 52px 0;
}

section.networking {
    padding: 90px 0;
}

.footer-block {
    background: #000000;
}

ul.list-unstyled.link-im li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}
.tour-item {
    background: #FFFFFF;
    box-shadow: 5px 8px 6px rgb(209 173 173 / 10%);
    padding: 40px;
    height: 220px;
}
section.download {
    background: transparent linear-gradient(180deg, hsl(0deg 6% 93% / 36%) 0%, rgb(241 238 238) 100%) 0% 0% no-repeat padding-box;
    padding: 52px 0;
}
section.business {
    padding: 0 0 90px;
}
ul.social-link {
    display: block;
    padding-left: 0;
}

ul.social-link li {
    display: inline-block;
    padding: 10px 6px 7px 3px;
}

ul{
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}
.demo .item{
    margin-bottom: 60px;
}
.content-slider li{
    background-color: #ed3020;
    text-align: center;
    color: #FFF;
}
.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}
.demo{
    width: 800px;
}
.home-testimonial {
    background-color: #231834;
    height: 380px
}

.home-testimonial-bottom {
    background-color: #f8f8f8;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    margin-bottom: 0px;
    position: relative;
    height: 130px;
    top: 190px
}

.home-testimonial h3 {
    color: var(--orange);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase
}

.home-testimonial h2 {
    color: white;
    font-size: 28px;
    font-weight: 700
}

.testimonial-inner {
    position: relative;
    top: -174px
}

.testimonial-pos {
    position: relative;
    top: 24px
}

.testimonial-inner .tour-desc {
    border-radius: 5px;
    padding: 40px
}

.color-grey-3 {
    font-family: "Montserrat", Sans-serif;
    color: #544F4F;
    font-size: 11px;
    font-style: italic;
    text-align: left;
}

.testimonial-inner img.tm-people {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: none
}

.link-name {
    font-size: 13px;
    color: #222222;
    width: 100%;
    text-align: left;
}

.link-position {
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    color: #6c83a2
}

img.tm-people {
    width: 38px;
    height: 36px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 40px;
    object-fit: cover;
}

i.fa.fa-star.rating-color {
    color: #F1AA01;
}

/*shop page*/

.main-headings {
    font-size: 22px;
    color: #282828;
}

h6.price-size {
    font-size: 18px;
    color: #282828;
    font-weight: 400;
}

h6.price-size span {
    font-size: 18px;
    color: #777777;
    font-weight: 500;
}

h6.price-size {
    font-size: 18px;
    color: #282828;
    font-weight: 400;
}


.shop-banner {
    background-image: url(../images/bg_card.jpg);
    background-repeat: no-repeat;
    min-height: 250px;
    background-size: cover;
}

.shop-info h4 {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.logo-img img {
    margin: 0px auto;
    text-align: center;
    display: block;
}

.meta-card {
    max-width: 312px;
}

/*end shop page*/


/*team page*/

.team-banner {
    background-image: url(../images/teams.png);
    background-repeat: no-repeat;
    min-height: 250px;
    background-size: cover;
    position: relative;
    z-index: -1;
}


.team-banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#000000;
    opacity: 0.6;
    z-index: -99999;
}

h1.banner-text {
    text-align: center;
    color: #ffffff;
    font-family: 'Gilroy';
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.videos {
    margin: 20px auto;
    max-width: 700px;
  }
  /* Individual video container */
  .video-wrap {
    position: relative;
    max-width: 700px;
    width: 100%;
    margin-bottom: 10px;
  }
  .video-wrap .placeholder {
    max-width: 700px;
    width: 100%;
  }
  .video-wrap .play-btn {
    position: absolute;
    max-width: 700px;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 1; /* needed if using Bootstrap */
    text-align: center;
    color: #eaeaea;
    /* background-color: rgba(255,255,255,.4); */
    border-radius: 50px;
    transition: color, background-color .2s ease;
  }
 

  .video-wrap .play-btns {
    position: absolute;
    max-width: 700px;
    width: 100px;
     height: 100px; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    text-align: center;
    color: #eaeaea;
    /* background-color: rgba(255,255,255,.4); */
    border-radius: 50px;
    transition: color, background-color .2s ease;
}

.video-wrap h4 {
    font-size: 20px;
    color: #282828;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px 0;
}
.video-wrap a {
    text-decoration: none;
}
  .video-bn {
    padding: 62px 0 73px;
}


.teams {
    background: #fbf8f8;
    padding: 41px 0 30px;
}

.team-info img {
    border: 8px solid #FFFFFF;
    height: 630px;
}

form#contact {
    position: relative;
    z-index: 5;
    background-color: #fff;
    margin-top: 6px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 5%);
    border-radius: 0;
    padding: 42px;
}

.section-heading h6 {
    color: #282828;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}

.section-heading h4 {
    font-size: 18px;
    color: #CDA052;
    text-align: center;
    font-weight: 400;
}

#contact input[type="text"], #contact input[type="email"] {
    width: 100%;
    height: 40px;
    background: none;
    outline: none;
    border: none;
    font-size: 13px;
    font-weight: 500;
    color: #7a7a7a;
    padding: 0px 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(112 112 112 / 29%);
    box-shadow: none;
    border-radius: 0px;
}
.input-s img {
    position: absolute;
    left: -5px;
    width: 15px;
    top: 0px;
    bottom: 30px;
    margin: auto;
}
.input-s {
    position: relative;
}

.asterisk::-webkit-input-placeholder {
    color:    #BCBCBC;
}
.asterisk:-moz-placeholder {
   color:   #BCBCBC;
   opacity:  1;
}
.asterisk::-moz-placeholder {
   color:  #BCBCBC;
   opacity:  1;
}
.asterisk:-ms-input-placeholder {
   color:#BCBCBC;
}
.main-contact {
    position: relative;
    z-index: 5;
    left: 74px;
}

.btn-submit {
    color: #ffffff;
    background: #000000;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0px;
    text-decoration: none;
    padding: 9px 41px;
    border-radius: 8px;
    margin: 0px auto;
    display: block;
    width: 130px;
}
section.team-logo {
    padding: 70px 0 100px;
}

.team-heading h4 {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Gilroy';
    text-transform: uppercase;
    text-align: center;
}

.team-heading h4 span {
    color: #CDA052;
}
.teams-logos .item img {
    display: block;
    margin: 0px auto;
    background: #FFFFFF;
    box-shadow: 5px 8px 6px rgb(209 173 173 / 10%);
    padding: 26px;
    width: 179px;
    height: 90px;
    object-fit: cover;
}

.modernize-text h5 {
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
}


.modernize-text h5 span {
    font-weight: 400;
}

.modernize-text h6 {
    font-size: 26px;
    font-weight: 400;
}

.modernize-text h6 span{
    color: #CDA052;
}

section.modernize {
    padding: 20px 0 80px;
}

.modernize-list li:before {
    content: url(../images/check.png); /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
  }

  ul.modernize-list li {
    padding: 9px 0;
    position: relative;
}
ul.modernize-list {
    padding-left: 23px;
    padding-top: 20px;
}

.modernize-list li:before {
    content: url(../images/check.png);
    display: inline-block;
    left: -5px;
    margin-top: 4px;
    position: absolute;
}

section.sales {
    background: #fbf8f8;
    padding: 72px 0px 61px;
}

section.intergate-apps {
    padding: 60px 0 70px;
}


section.main-web {
    background-image: url(../images/bg_contact.png);
    padding: 70px 0 100px;
    background-position: center;
    background-size: cover;
}

section.video-upload {
    padding: 63px 0;
}

.info-faq h3 {
    color: #565656;
    font-weight: 400;
    font-size: 20px;
}

.info-faq h5 {
    font-size: 17px;
    color: #565656;
    font-weight: 600;
}

.faq-accordian .accordion-button:not(.collapsed) {
    color: #222222;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    background: #F5F5F591 0% 0% no-repeat padding-box;
    text-transform: uppercase;
    font-weight: 700;
}

.faq-accordian .accordion-item {
    background-color: #fbfbfb;
    margin: 20px 0;
}

.faq-accordian .accordion-item:not(:first-of-type) {
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.faq-accordian .accordion-button {
    padding: 1rem 1.25rem;
    font-size: 18px;
    color: #212529;
    font-weight: 600;
    text-transform: uppercase;
    background: rgb(245 245 245 / 57%);
}
.faq-accordian .accordion-body p {
    padding: 12px 0;
    border-bottom: 1px solid #e5e5e5;
}
/* .faq-accordian .accordion-button {
    padding: 1.4rem 1.25rem;
    color: #222222;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    background: #F5F5F591 0% 0% no-repeat padding-box;
    text-transform: uppercase;
    font-weight: 700;
} */


.faq-accordian .accordion-button::after
{
    background-image: url(../images/plus.svg);
}

section.product-main {
    padding: 80px 0 46px;
}

/* .product-logos .item img {
    display: block;
    margin: 0px auto;
    background: #FFFFFF;
    box-shadow: 5px 8px 6px rgb(209 173 173 / 10%);
    padding: 26px;
    width: 80px;
    height: 57px;
    object-fit: cover;
} */


.product-logos .item {
    border: 1px solid #70707038;
    margin: 0px auto;
    display: block;
    padding: 16px 9px;
}

.btn-logo {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid rgb(0 0 0 / 19%);
    padding: 12px;
    text-decoration: none;
    color: #777777;
    font-size: 12px;
}
.no-logo {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
    padding: 12px;
    text-decoration: none;
    color: #777777;
    font-size: 12px;
}

.single-product h1 {
  font-size: 36px;
  font-weight: bold;
}

.quantity input,
textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

.quantity input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.quantity .input-group {
    clear: both;
    margin: 15px 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
} 

.quantity .input-group input[type='button'] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

.quantity .input-group .button-minus,
.quantity .input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.quantity .input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

.quantity .button-plus {
  left: -13px;
}

.quantity input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

.shop-btn {
    color: #ffffff;
    background: #000000;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0px;
    text-decoration: none;
    padding: 17px 34px;
    border-radius: 6px;
    font-weight: 500;
    display: inline-block;
}


.single-product .nav-tabs {
    border-bottom: none;
    margin-top: 50px;
}

.single-product .nav-tabs .nav-link:hover, .single-product .nav-tabs .nav-link:focus {
    color: #bebebe;
}
.single-product .nav-tabs .nav-link.active, 
.single-product .nav-tabs .nav-item.show .nav-link {
    color: #282828;
    background-color: #fff;
    /* border-color: #dee2e6 #dee2e6 #fff; */
    font-weight: 500;
    border-bottom: 1px solid #000000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
/* 
.single-product .nav-tabs .nav-link:hover, 
.single-product .nav-tabs .nav-link:focus {

    isolation: isolate;
    border: none;
} */

.single-product .nav-tabs .nav-link {
    margin-bottom: -1px;
    background: none;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    font-weight: 500;
}

.single-product  .nav-tabs .nav-link:hover, 
.single-product  .nav-tabs .nav-link:focus {
    /* border-color: #e9ecef #e9ecef #dee2e6; */
    isolation: isolate;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border:none;
    isolation: isolate;
}

.card-product .item
{
    margin: 0 20px;
}

.item
{
    margin: 0 12px;
}


.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-left: -36px;
    display: block !important;
    border: 0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -25px;
    display: block !important;
    border:0px solid black;
    
}
.owl-carousel .owl-prev, .owl-carousel  .owl-next {
    position: absolute;
    height: 100px;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
}

.owl-carousel.products .owl-prev, .owl-carousel.products .owl-next {
    position: absolute;
    /* height: 100px; */
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
    top: 130px;
}

.owl-carousel.products .owl-prev i, 
.owl-carousel.products .owl-next i {
    background: rgb(205 160 82 / 38%);
}
.owl-carousel .owl-nav {
    position: absolute;
    top: -7%;
    left: 0;
    right: 0;
}
.owl-prev i, .owl-next i {
    color: #ffffff;
    background: rgb(40 40 40 / 30%);
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    margin-right: 1.5em;
    line-height: 27px;
}

.ps-6 {
    padding-left: 3.5rem;
}

.single-product .nav-link {
    display: block;
    padding: 0;
    color: rgb(40 40 40 / 68%);
    text-decoration: none;
    transition: none;
}

.single-product .tab-content > .active {
    display: block;
    font-size: 16px;
    color: #565656;
    padding: 0;
}


section.product-related {
    padding: 20px 0 90px;
}

.nav-item.comptit {
    padding-left: 30px;
  }


  .business .owl-dots {
    display: none;
}
  .single-product .tab-content {
    padding: 20px 0 0;
}


.business .owl-carousel .owl-prev,   .business .owl-carousel .owl-next {
    position: absolute;
    height: 100px;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
    top: 70px;
}

.business .owl-theme .owl-nav [class*=owl-] {
    color: rgb(0 0 0 / 44%);
    font-size: 52px;
}

.info span
{
    font-size: 9px;
    color:#777777;
}



.info img
{
    position:absolute;
    top:0;
}

.ratings .far.fa-star
{
    color: #F1AA01;
}

a {
    color: #282828;
    text-decoration: none;
}


.free-plan {
    background: #FFFFFF;
    border: 1px solid #CDA052;
    padding: 13px 40px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 50px;
    color: #CDA052;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    margin: 0 -2rem;
}

.pro-plan {
    background: #000000;
    border: 2px solid #282828;
    border-radius: 78px;
    opacity: 1;
    padding: 12px 40px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    margin: 0 -2rem;
}

.pricing-table {
    background: #ffffff;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}



.table-price tr.table-head {
    height: 80px;
    background: #ffffff!important;
    display: inline-block;
    width: 100%;
}
.table-price tr:nth-child(odd) {background-color:  #FFFFFF;}
.table-price tr:nth-child(even) {background-color: #F9F9F9;}

 table {
    caption-side: bottom;
    border-collapse: collapse;
    width: 100%;
}

.table-price td {
    border-right: 1px solid #e7e3e3;
        font-family: 'Raleway', sans-serif;
}

.main-text {
    display: block;
    padding: 20px 0;
}
.main-text p {
    font-size: 13px;
    color: #CDA052;
}

.main-text h4 {
    font-size: 17px;
}

.try-plan {
    background: #FFFFFF;
    border: 1px solid #CDA052;
    padding: 10px 21px;
    text-decoration: none;
    font-size: 10px;
    border-radius: 50px;
    color: #CDA052;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    margin: 16px 0 0;
}

.table-price h6 {
    font-size: 19px;
    color: #364350;
}

.table-price p {
    font-size: 16px;
}

.feature-img {
    background: #ffffff;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    padding: 19px 20px;
    min-height: 370px;
}

.feature-img img {
    margin: 0px auto;
    text-align: center;
    display: block;
}

.feature-img h4 {
    font-size: 16px;
    color: #282828;
    text-align: center;
}

.feature-img p {
    font-size: 14px;
    text-align: center;
    color: #7B7B7B;
    padding: 10px;
}

section.what-we-do {
    padding: 90px 0 60px;
}
tr.t-head {
    background: none!important;
}


.teams-logos .owl-carousel .owl-nav.disabled
{
    display: none;
}

.owl-carousel.teams-logos  .owl-nav button.owl-next, 
.owl-carousel.teams-logos  .owl-nav button.owl-prev
{
    font-size:0;
}

/*new css 19 may*/


.ms-panel.ms-panel-fh-termss {
    border-radius: 20px;
    display: block;
    margin-bottom: 40px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 40px 0 rgb(0 0 0 / 6%);
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 6%);
    padding: 42px;
    font-weight: 300;
}

.ms-panel.ms-panel-fh-termss p {
    margin-bottom: 9px;
}
ol.main-design li {
    padding: 6px 0;
}

.theme_heading_color {
    font-size: 21px;
}

.main-form label {
    font-size: 14px;
    color: #767D7F;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.main-form input[type=text], .main-form input[type=email], .main-form input[type=password] {
    width: 100%;
    background: none;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
}
.shipping-form {
    border-radius: 20px;
    display: block;
    margin-bottom: 40px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 40px 0 rgb(0 0 0 / 6%);
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 6%);
    padding: 11px;
    font-weight: 300;
}
.product-thumbnail {
    border-radius: 8px;
    background: #fff;
    position: relative;
}
img.product-thumbnail__image {
    border-radius: 12px;
    display: block;
    margin-bottom: 40px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 40px 0 rgb(0 0 0 / 6%);
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 6%);
    padding: 11px;
    font-weight: 300;
    margin-bottom: 13px;
}
.product-thumbnail__quantity {
  font-size: 11px;
    font-weight: 500;
    line-height: 1.75em;
    white-space: nowrap;
    text-align: center;
    border-radius: 1.75em;
    background-color: rgb(205 160 83);
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 20px;
    height: 20px;
    padding: 0 0.5833333333em;
    position: absolute;
    right: -3px;
    top: -8px;
    z-index: 3;
}
.email-text {
    font-size: 13px;
    font-weight: 300;
    color: #cda053;
    padding: 20px 0;
}
.lh-condensed {
    border-bottom: 1px solid #f6f2f2;
    padding: 20px 10px 10px;
}


.shipping-form select.form-select {
    width: 100%;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
}

.list-group-item
{
    border: 0;
    border-bottom: 1px solid #f6f2f2;
    padding: 20px 10px 10px;
}
a.black_btn:hover {
    color: #cda053;
}
.page-body-wrapper {
    min-height: calc(100vh - 56px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
}
.content-wrapper {
    padding: 1.5rem 1rem 1rem 1rem;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.page-body-wrapper.full-page-wrapper {
    width: 100%;
    min-height: 100vh;
    padding-top: 0;
}
.login-wrap {
    border-radius: 20px;
    display: block;
    margin-bottom: 40px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 6%);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 6%);
    padding: 11px;
    font-weight: 300;
}

.cart-popup {
    border-radius: 20px;
    margin-bottom: 40px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 6%);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 6%);
    padding: 11px;
    font-weight: 300;
    width: 420px;
    top: 72px;
    display: none;
    transition: top 5s;
    right: 0;
    position: absolute;
    z-index: 2000;
    cursor: pointer;
}

.cart-img:hover .cart-popup  {
    top: 70px;
    display: block;
    transition: all .3s ease-out;
    cursor: pointer;
  }
a.get_password {
    color: #CDA052;
    font-weight: 400;
}
.row.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.cart_btn {
    border: 0;
    background: none;
    margin: 9px;
}
/*.product-thumbnail__wrapper img {
    max-width: 100px;
}*/

.product-thumbnail__wrapper img {
  max-width: 67px;
}

.product_title {
    font-size: 14px;
}
img.product-thumbnail__image.cart_image {
    max-width: 276px;
    padding: 0;
    max-height: 120px;
}

.shipping-form .list-group-item {
    border: 0;
    border-bottom: 1px solid #bbb0b0;
    padding: 20px 10px 10px;
}


.view_order {
  color: #ffffff;
  background: #000000;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0px;
  text-decoration: none;
  padding: 11px 36px;
  border-radius: 5px;
  border: 0;
}

.view_order:hover {
  background: #000;
}

#example td {
    padding: 20px 4px;
    border-bottom: 1px solid #f5f5f5;
}


  .header-title h4 {
    background: #f5f5f5;
    font-size: 18px;
    padding: 17px;
    margin: -4px 0 20px;
  }

.custom_btn {
    color: #ffffff;
    background: #000000;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0px;
    text-decoration: none;
    padding: 17px 39px;
    border-radius: 5px;
    margin:0px 10px;
}
 #example thead tr {
    background: #f5f5f5;
    padding: 20px !important;
  }
  
  .image img {
    max-height: 162px;
}
  
  #cartItemList {
  height: 193px;
  overflow-y: scroll;
}

 .cart-items::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
 .cart-items::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}

 .cart-items::-webkit-scrollbar-thumb
{
	background-color: #c3c3c3;
}
  
 .cart-items::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.goog-te-gadget-simple {
    background-color: #efefef;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    font-size: 10pt;
    display: inline-block;
    padding-top: 1px;
    padding-bottom: 2px;
    cursor: pointer;
    zoom: 1;
    padding: 6px;
    border-radius: 8px;
}
.email {
  word-break: break-word;
}
.product-main .carousel-indicators
{
    margin-bottom: -2rem;
}
  
.tab-content .btn:hover {
  background: #f5f5f5;
  color:#000000;
}
 
.btn .text-success:hover
{
    color:#ffffff;
}
}