
      <!--end section-->
      <section class="product-main">
         <div class="container">
            <div class="row">
               <div class="col-sm-12 col-md-6 col-lg-5">
                  <div class="product-single text-center">
                     <img src="images/single_product.png">
                  </div>
                  <div class="owl-carousel  product-logos mt-4">
                     <div class="item">
                        <img src="images/1.png">
                     </div>
                     <div class="item">
                        <img src="images/2.png">
                     </div>
                     <div class="item">
                        <img src="images/3.png">
                     </div>
                     <div class="item">
                        <img src="images/4.png">
                     </div>
                     <div class="item">
                        <img src="images/4.png">
                     </div>
                     <div class="item">
                        <img src="images/3.png">
                     </div>
                     <div class="item">
                        <img src="images/4.png">
                     </div>
                     <div class="item">
                        <img src="images/4.png">
                     </div>
                  </div>
               </div>
               <div class="col-sm-12 col-md-6 col-lg-7">
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Shop</li>
                        <li class="breadcrumb-item active" aria-current="page">PVC Card</li>
                     </ol>
                  </nav>
                  <div class="single-product">
                     <h1>
                        PVC
                     </h1>
                     <h6 class="price-size"><span>   Format:</span>   54 x 86 mm
                     </h6>
                     <h6 class="price-size"><span>   Technology</span>   NFC + QR code
                     </h6>
                     <div class="colors mb-3"> <span></span> <span></span> <span></span> <span></span> </div>
                     <h6 class="price-size"><span>   Style</span>  
                     </h6>
                     <div class="d-flex">
                        <a href="#" class="no-logo">
                        WITH MARRA LOGO
                        </a>
                        <a href="" class="btn-logo ms-2">
                        WITH NO LOGO
                        </a>
                     </div>
                     <h6 class="price-size pt-3"><span>  Quanity</span>  
                     </h6>
                     <div class="quantity">
                        <div class="input-group">
                           <input type="button" value="-" class="button-minus" data-field="quantity">
                           <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                           <input type="button" value="+" class="button-plus" data-field="quantity">
                        </div>
                     </div>
                     <a class="shop-btn mt-3" href=""> Create your Own</a>
                     <!-- Nav tabs -->
                     <ul class="nav nav-tabs" role="tablist mt-5">
                        <li class="nav-item">
                           <a class="nav-link active" data-bs-toggle="tab" href="#home">Description</a>
                        </li>
                        <li class="nav-item compatibility">
                           <a class="nav-link" data-bs-toggle="tab" href="#menu1">Compatibility</a>
                        </li>
                        <li class="nav-item shopping">
                           <a class="nav-link" data-bs-toggle="tab" href="#menu1">Shipping</a>
                        </li>
                     </ul>
                     <!-- Tab panes -->
                     <div class="tab-content">
                        <div id="home" class="container tab-pane active">
                           
                           <p>Choose what you want to share with your interlocutor.
                              Your Maara Card account allows you to add and edit independently the
                              items you want to share on your contactless business card. Add your
                              business contact information, social media, website and more.
                              Customize your contactless business cards from A to Z
                              Present your brand at its best and make your employees ambassadors. 
                              The design of your contactless business cards is fully customizable.
                           </p>
                        </div>
                        <div id="compatibility" class="container tab-pane fade ">
                        
                           <p>Choose what you want to share with your interlocutor.
                              Your Maara Card account allows you to add and edit independently the
                              items you want to share on your contactless business card. Add your
                              business contact information, social media, website and more.
                              Customize your contactless business cards from A to Z
                              Present your brand at its best and make your employees ambassadors. 
                              The design of your contactless business cards is fully customizable.
                           </p>
                        </div>
                        <div id="shopping" class="container tab-pane fade ">
                        
                           <p>Choose what you want to share with your interlocutor.
                              Your Maara Card account allows you to add and edit independently the
                              items you want to share on your contactless business card. Add your
                              business contact information, social media, website and more.
                              Customize your contactless business cards from A to Z
                              Present your brand at its best and make your employees ambassadors. 
                              The design of your contactless business cards is fully customizable.
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--end section-->
      <section class="product-related">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="pre_heading text-center">
                     <h3 class="mb-3">
                        RELATED PRODUCTS
                     </h3>
                  </div>
               </div>
            </div>
            <div class="owl-carousel  products mt-4">
               <div class="item">
                  <div class="card-product p-3">
                     <div class="image text-center"> <img src="images/card-3.png" class="img-fluid"> </div>
                     <div class="mt-2">
                        <div class="mt-2 d-flex justify-content-between align-items-center">
                           <h5 class="main-heading mt-0">Sticker </h5>
                           <!-- <div class="heart">
                              <img src="images/whistlist.svg">
                              </div> -->
                        </div>
                        <h6 class="price-text">9000 FCFA
                        </h6>
                        <div class="colors"> <span></span> <span></span> <span></span> <span></span> </div>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="card-product p-3">
                     <div class="image text-center"> <img src="images/card-2.png" class="img-fluid"> </div>
                     <div class="mt-2">
                        <div class="mt-2 d-flex justify-content-between align-items-center">
                           <h5 class="main-heading mt-0">PVC Card  </h5>
                        </div>
                        <h6 class="price-text">39000 FCFA
                        </h6>
                        <div class="colors"> <span></span> <span></span> <span></span> <span></span> </div>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="card-product p-3">
                     <div class="image text-center"> <img src="images/card-3.png" class="img-fluid">  </div>
                     <div class="mt-2">
                        <div class="mt-2 d-flex justify-content-between align-items-center">
                           <h5 class="main-heading mt-0">Bamboo Card  </h5>
                        </div>
                        <h6 class="price-text">49000 FCFA 
                        </h6>
                        <div class="colors"> <span></span> <span></span> <span></span> <span></span> </div>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="card-product p-3">
                     <div class="image text-center"> <img src="images/card-4.png" class="img-fluid"> </div>
                     <div class="mt-2">
                        <div class="mt-2 d-flex justify-content-between align-items-center">
                           <h5 class="main-heading mt-0">Metal Card  </h5>
                        </div>
                        <h6 class="price-text">89000 FCFA
                        </h6>
                        <div class="colors"> <span></span> <span></span> <span></span> <span></span> </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </div>
         </div>
      </section>
